.myfooter-wrapper {
    background-color: #2E2E2E;
    height: 60px;
    position:relative;
    overflow-x: hidden;
    overflow-y: hidden;
    
    .myfooter-container {
        width: 95%;
        position: relative;
        height: 60px;
        /*margin-left: 40%;*/
    }
    .myfooter-container ul{
        position: absolute;
        bottom: -25px;
        left: 50%;
        height: 50px;
        display: inline;
        width: 100%;
        margin-bottom: 0;
    }
    li {
        color: #fff;
        display: inline;
        margin-left: 3%;
    }
    a {
        display: inline;
        color: #fff;
    }
}