html, body {
  height: 100%; }

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif; }

#map {
  height: 400px;
  width: 600px; }

#home-wrapper .jumbotron {
  background-image: url(../../images/home-banner.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  color: #fff; }

#home-wrapper #jumbo-slogan {
  width: 190px;
  float: right;
  margin-right: 200px; }

#home-wrapper .main-info {
  width: 80%;
  padding-top: 50px;
  margin: 0 auto; }

#home-wrapper #contact-button {
  width: 100px;
  border: 2px solid #fff;
  padding: 10px; }

#home-wrapper #contact-button:hover {
  background-color: #fff;
  color: #2E2E2E;
  cursor: pointer; }

#home-wrapper li {
  display: inline;
  margin: 0 10px; }

#home-wrapper .trusted-by {
  margin: 0 auto;
  text-align: center;
  padding: 50px 0; }

.navbar-wrapper {
  background-color: #2E2E2E;
  height: 60px;
  position: relative; }
  .navbar-wrapper .navbar-container {
    width: 95%;
    margin: 0 auto; }
  .navbar-wrapper .navbar-container ul {
    position: absolute;
    top: 50%;
    height: 50px;
    margin-top: -12.5px;
    display: inline;
    width: 100%; }
  .navbar-wrapper li {
    color: #fff;
    display: inline;
    margin-left: 5%; }
  .navbar-wrapper a {
    display: inline;
    color: #fff; }
